@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
    /* ## Colors  */
    /* ### Primary  */
    --cl-Moderate-blue: hsl(238, 40%, 52%);
    --cl-Soft-Red: hsl(358, 79%, 66%);
    --cl-Light-grayish-blue: hsl(239, 57%, 85%);
    --cl-Pale-red: hsl(357, 100%, 86%);
    /* ### Neutral  */
    --cl-Dark-blue: hsl(212, 24%, 26%);
    --cl-Grayish-Blue: hsl(211, 10%, 45%);
    --cl-Light-gray: hsl(223, 19%, 93%);
    --cl-Very-light-gray: hsl(228, 33%, 97%);
    --cl-White: hsl(0, 0%, 100%);
}

/* global css */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-color: #0A4C95 #C2D2E4;
}

textarea {
    resize: none;
}

/* actual css */
main>div {
    width: min(90vw, 730px);
}

/* custom webscroll */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--cl-Light-grayish-blue);
    border-radius: 50rem;
}